/* main-burger */



.mobile-btn{
    width: 55px;
    height: 30px;
    display: none;
    justify-self: center;
    align-items: center;
}

.mobile-btn span{
    width: 100%;
    height: 3px;
    background-color: hotpink;
    position: relative;
}

.mobile-btn span:before, .mobile-btn span:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hotpink;
    transition: .5;

}

.mobile-btn span:before{
    top: -13px;
}

.mobile-btn span:after{
    top: 13px;
}

/* main-burger */

/* animate-burger */

.show-mobile-btn span:before,
.show-mobile-btn span:after{
    top: 0;
    bottom: 0;
    margin: auto;
}

.show-mobile-btn span:before{
    transform: rotate(45deg);
}

.show-mobile-btn span:after{
    transform: rotate(-45deg);
}

.show-mobile-btn span{
    background: transparent;
}
/* animate-burger */