
.backdrop{
    position: fixed;
    top:0;
    bottom:0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.backdropActive{
    display: block;
}

.hidden{
    overflow: hidden;
}

.modalButton{
    margin-top:15px;
    border-radius: 5px;
    background-color: #333;
    color:#fff;
    padding: 10px 0;
    cursor: pointer;
    width: 140px;
    text-align: center;
}
.modal{
    position: fixed;
    left:0;
    right: 0;
    bottom:0;
    top:0;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 70%;
    transition: transform 0.4s;
    transform:scale(0);
    z-index: 2;
}

.modalActive{
    transform:scale(1);
}

.modalHeader{
    background-color: #333;
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalHeaderTitle{
    padding: 5px 15px;
    font-weight: bold;
    font-size: 18px;
}

.modalCloseButton{
    position: relative;
    width: 35px;
    height: 100%;
    cursor: pointer;

}

.modalCloseButton:hover{
    background-color: red;
}

.modalCloseButton span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 2px;
    background-color: #fff;
}

.modalCloseButton span:first-child{
    transform: rotate(45deg);
}

.modalCloseButton span:last-child{
    transform: rotate(-45deg);
}